-- MySQL dump 10.13  Distrib 8.2.0, for Win64 (x86_64)
--
-- Host: gestion-scolaire-db-espoirmmuk-ec75.j.aivencloud.com    Database: defaultdb
-- ------------------------------------------------------
-- Server version	8.4.8

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;
SET @MYSQLDUMP_TEMP_LOG_BIN = @@SESSION.SQL_LOG_BIN;
SET @@SESSION.SQL_LOG_BIN= 0;

--
-- GTID state at the beginning of the backup 
--

SET @@GLOBAL.GTID_PURGED=/*!80000 '+'*/ '003a7361-a202-11f1-a3d8-eebdf275ffa4:1-223,
0dec4251-a390-11f1-8500-d632544338d7:1-40,
759ce525-bda9-11f1-bfed-a68b32e418a0:1-16';

--
-- Table structure for table `activites`
--

DROP TABLE IF EXISTS `activites`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `activites` (
  `id_activite` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_annee_scolaire` bigint unsigned NOT NULL,
  `titre` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `type` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `date_activite` date DEFAULT NULL,
  `lieu` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `budget` decimal(15,2) DEFAULT NULL,
  `devise` char(3) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'USD',
  `responsable` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `statut` enum('PREVUE','EN_COURS','TERMINEE','ANNULEE') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PREVUE',
  PRIMARY KEY (`id_activite`),
  KEY `idx_activites_date` (`date_activite`),
  KEY `idx_activites_annee` (`id_annee_scolaire`),
  CONSTRAINT `fk_activite_annee` FOREIGN KEY (`id_annee_scolaire`) REFERENCES `annees_scolaires` (`id_annee_scolaire`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `chk_activite_budget` CHECK (((`budget` is null) or (`budget` >= 0))),
  CONSTRAINT `chk_activite_devise` CHECK ((`devise` in (_utf8mb4'USD',_utf8mb4'CDF')))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activites`
--

LOCK TABLES `activites` WRITE;
/*!40000 ALTER TABLE `activites` DISABLE KEYS */;
/*!40000 ALTER TABLE `activites` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `affectations_enseignants`
--

DROP TABLE IF EXISTS `affectations_enseignants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `affectations_enseignants` (
  `id_affectation` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_etablissement` bigint unsigned NOT NULL,
  `id_enseignant` bigint unsigned NOT NULL,
  `id_classe` bigint unsigned NOT NULL,
  `id_matiere` bigint unsigned NOT NULL,
  `id_annee_scolaire` bigint unsigned NOT NULL,
  `est_titulaire` tinyint(1) NOT NULL DEFAULT '0',
  `heures_semaine` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `statut` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ACTIF',
  `observation` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `date_creation` timestamp NULL DEFAULT NULL,
  `date_modification` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_affectation`),
  UNIQUE KEY `uq_affectation` (`id_enseignant`,`id_classe`,`id_matiere`,`id_annee_scolaire`),
  KEY `affectations_enseignants_id_classe_foreign` (`id_classe`),
  KEY `affectations_enseignants_id_matiere_foreign` (`id_matiere`),
  KEY `affectations_enseignants_id_annee_scolaire_foreign` (`id_annee_scolaire`),
  KEY `affectation_etab_annee_idx` (`id_etablissement`,`id_annee_scolaire`),
  CONSTRAINT `affectations_enseignants_id_annee_scolaire_foreign` FOREIGN KEY (`id_annee_scolaire`) REFERENCES `annees_scolaires` (`id_annee_scolaire`) ON DELETE CASCADE,
  CONSTRAINT `affectations_enseignants_id_classe_foreign` FOREIGN KEY (`id_classe`) REFERENCES `classes` (`id_classe`) ON DELETE CASCADE,
  CONSTRAINT `affectations_enseignants_id_enseignant_foreign` FOREIGN KEY (`id_enseignant`) REFERENCES `personnel` (`id_personnel`) ON DELETE CASCADE,
  CONSTRAINT `affectations_enseignants_id_etablissement_foreign` FOREIGN KEY (`id_etablissement`) REFERENCES `etablissements` (`id_etablissement`) ON DELETE CASCADE,
  CONSTRAINT `affectations_enseignants_id_matiere_foreign` FOREIGN KEY (`id_matiere`) REFERENCES `matieres` (`id_matiere`) ON DELETE CASCADE,
  CONSTRAINT `fk_affectation_annee` FOREIGN KEY (`id_annee_scolaire`) REFERENCES `annees_scolaires` (`id_annee_scolaire`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_affectation_classe` FOREIGN KEY (`id_classe`) REFERENCES `classes` (`id_classe`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_affectation_enseignant` FOREIGN KEY (`id_enseignant`) REFERENCES `personnel` (`id_personnel`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_affectation_matiere` FOREIGN KEY (`id_matiere`) REFERENCES `matieres` (`id_matiere`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `affectations_enseignants`
--

LOCK TABLES `affectations_enseignants` WRITE;
/*!40000 ALTER TABLE `affectations_enseignants` DISABLE KEYS */;
/*!40000 ALTER TABLE `affectations_enseignants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `annees_scolaires`
--

DROP TABLE IF EXISTS `annees_scolaires`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `annees_scolaires` (
  `id_annee_scolaire` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_etablissement` bigint unsigned NOT NULL,
  `libelle` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `date_debut` date NOT NULL,
  `date_fin` date NOT NULL,
  `est_active` tinyint(1) NOT NULL DEFAULT '0',
  `est_cloturee` tinyint(1) NOT NULL DEFAULT '0',
  `date_cloture` timestamp NULL DEFAULT NULL,
  `cloturee_par` bigint unsigned DEFAULT NULL,
  `date_creation` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_annee_scolaire`),
  UNIQUE KEY `uq_annee_etablissement` (`id_etablissement`,`libelle`),
  KEY `idx_annees_etablissement` (`id_etablissement`),
  KEY `idx_annees_active` (`est_active`),
  CONSTRAINT `fk_annee_etablissement` FOREIGN KEY (`id_etablissement`) REFERENCES `etablissements` (`id_etablissement`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_annee_dates` CHECK ((`date_fin` > `date_debut`))
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `annees_scolaires`
--

LOCK TABLES `annees_scolaires` WRITE;
/*!40000 ALTER TABLE `annees_scolaires` DISABLE KEYS */;
INSERT INTO `annees_scolaires` VALUES (1,1,'2026-2027','2026-09-01','2027-07-02',1,0,NULL,NULL,'2026-08-09 10:46:50');
/*!40000 ALTER TABLE `annees_scolaires` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bulletins`
--

DROP TABLE IF EXISTS `bulletins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bulletins` (
  `id_bulletin` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_eleve` bigint unsigned NOT NULL,
  `id_annee_scolaire` bigint unsigned NOT NULL,
  `id_periode` bigint unsigned NOT NULL,
  `id_classe` bigint unsigned NOT NULL,
  `moyenne` decimal(8,2) DEFAULT NULL,
  `pourcentage` decimal(8,2) DEFAULT NULL,
  `rang` int unsigned DEFAULT NULL,
  `decision` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `observation` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `date_generation` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_bulletin`),
  UNIQUE KEY `uq_bulletin` (`id_eleve`,`id_annee_scolaire`,`id_periode`),
  KEY `fk_bulletin_classe` (`id_classe`),
  KEY `idx_bulletins_eleve` (`id_eleve`),
  KEY `idx_bulletins_annee` (`id_annee_scolaire`),
  KEY `idx_bulletins_periode` (`id_periode`),
  CONSTRAINT `fk_bulletin_annee` FOREIGN KEY (`id_annee_scolaire`) REFERENCES `annees_scolaires` (`id_annee_scolaire`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_bulletin_classe` FOREIGN KEY (`id_classe`) REFERENCES `classes` (`id_classe`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_bulletin_eleve` FOREIGN KEY (`id_eleve`) REFERENCES `eleves` (`id_eleve`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_bulletin_periode` FOREIGN KEY (`id_periode`) REFERENCES `periodes_scolaires` (`id_periode`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `chk_bulletin_moyenne` CHECK (((`moyenne` is null) or (`moyenne` >= 0))),
  CONSTRAINT `chk_bulletin_pourcentage` CHECK (((`pourcentage` is null) or ((`pourcentage` >= 0) and (`pourcentage` <= 100))))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bulletins`
--

LOCK TABLES `bulletins` WRITE;
/*!40000 ALTER TABLE `bulletins` DISABLE KEYS */;
/*!40000 ALTER TABLE `bulletins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache` (
  `key` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `value` mediumtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` bigint NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categories_frais`
--

DROP TABLE IF EXISTS `categories_frais`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categories_frais` (
  `id_categorie_frais` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_etablissement` bigint unsigned DEFAULT NULL,
  `libelle` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `statut` enum('ACTIVE','INACTIVE') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ACTIVE',
  PRIMARY KEY (`id_categorie_frais`),
  UNIQUE KEY `uq_categorie_frais` (`libelle`),
  KEY `categories_frais_id_etablissement_foreign` (`id_etablissement`),
  CONSTRAINT `categories_frais_id_etablissement_foreign` FOREIGN KEY (`id_etablissement`) REFERENCES `etablissements` (`id_etablissement`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categories_frais`
--

LOCK TABLES `categories_frais` WRITE;
/*!40000 ALTER TABLE `categories_frais` DISABLE KEYS */;
INSERT INTO `categories_frais` VALUES (1,1,'Inscription','Frais dÔÇÖinscription','ACTIVE'),(2,1,'Minerval','Frais scolaires','ACTIVE'),(3,1,'Examen','Frais li├®s aux examens','ACTIVE'),(4,1,'Uniforme','Uniformes scolaires','ACTIVE'),(5,1,'Transport','Transport scolaire','ACTIVE'),(6,1,'Activites','Activit├®s scolaires','ACTIVE'),(7,1,'Autres','Autres frais','ACTIVE');
/*!40000 ALTER TABLE `categories_frais` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categories_inventaire`
--

DROP TABLE IF EXISTS `categories_inventaire`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categories_inventaire` (
  `id_categorie` bigint unsigned NOT NULL AUTO_INCREMENT,
  `libelle` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id_categorie`),
  UNIQUE KEY `uq_categorie_inventaire` (`libelle`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categories_inventaire`
--

LOCK TABLES `categories_inventaire` WRITE;
/*!40000 ALTER TABLE `categories_inventaire` DISABLE KEYS */;
INSERT INTO `categories_inventaire` VALUES (1,'Mobilier','Tables, chaises, armoires et bureaux'),(2,'Informatique','Ordinateurs et ├®quipements informatiques'),(3,'Pedagogique','Mat├®riel p├®dagogique'),(4,'Sport','Mat├®riel sportif'),(5,'Bibliotheque','Livres et ouvrages'),(6,'Electronique','Appareils ├®lectroniques'),(7,'Autres','Autres biens');
/*!40000 ALTER TABLE `categories_inventaire` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `classes`
--

DROP TABLE IF EXISTS `classes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `classes` (
  `id_classe` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_etablissement` bigint unsigned DEFAULT NULL,
  `id_annee_scolaire` bigint unsigned NOT NULL,
  `id_niveau` bigint unsigned NOT NULL,
  `libelle` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `option_classe` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `capacite` int unsigned DEFAULT NULL,
  `statut` enum('ACTIVE','INACTIVE') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ACTIVE',
  PRIMARY KEY (`id_classe`),
  UNIQUE KEY `uq_classe_annee` (`id_annee_scolaire`,`libelle`),
  KEY `idx_classes_annee` (`id_annee_scolaire`),
  KEY `idx_classes_niveau` (`id_niveau`),
  KEY `classes_id_etablissement_index` (`id_etablissement`),
  CONSTRAINT `classes_id_etablissement_foreign` FOREIGN KEY (`id_etablissement`) REFERENCES `etablissements` (`id_etablissement`) ON DELETE SET NULL,
  CONSTRAINT `fk_classe_annee` FOREIGN KEY (`id_annee_scolaire`) REFERENCES `annees_scolaires` (`id_annee_scolaire`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_classe_niveau` FOREIGN KEY (`id_niveau`) REFERENCES `niveaux` (`id_niveau`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `chk_classe_capacite` CHECK (((`capacite` is null) or (`capacite` > 0)))
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `classes`
--

LOCK TABLES `classes` WRITE;
/*!40000 ALTER TABLE `classes` DISABLE KEYS */;
INSERT INTO `classes` VALUES (2,1,1,3,'4├¿me','Informatique',50,'ACTIVE'),(4,1,1,2,'1├¿re','Cr├¿che',50,'ACTIVE');
/*!40000 ALTER TABLE `classes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `classes_matieres`
--

DROP TABLE IF EXISTS `classes_matieres`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `classes_matieres` (
  `id_classe_matiere` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_classe` bigint unsigned NOT NULL,
  `id_matiere` bigint unsigned NOT NULL,
  `id_enseignant` bigint unsigned DEFAULT NULL,
  `nombre_heures` decimal(5,2) DEFAULT NULL,
  PRIMARY KEY (`id_classe_matiere`),
  UNIQUE KEY `uq_classe_matiere` (`id_classe`,`id_matiere`),
  KEY `idx_cm_classe` (`id_classe`),
  KEY `idx_cm_matiere` (`id_matiere`),
  KEY `idx_cm_enseignant` (`id_enseignant`),
  CONSTRAINT `fk_cm_classe` FOREIGN KEY (`id_classe`) REFERENCES `classes` (`id_classe`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_cm_enseignant` FOREIGN KEY (`id_enseignant`) REFERENCES `personnel` (`id_personnel`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_cm_matiere` FOREIGN KEY (`id_matiere`) REFERENCES `matieres` (`id_matiere`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `chk_nombre_heures` CHECK (((`nombre_heures` is null) or (`nombre_heures` > 0)))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `classes_matieres`
--

LOCK TABLES `classes_matieres` WRITE;
/*!40000 ALTER TABLE `classes_matieres` DISABLE KEYS */;
/*!40000 ALTER TABLE `classes_matieres` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contacts`
--

DROP TABLE IF EXISTS `contacts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `contacts` (
  `id_contact` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `sujet` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `message` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `lu` tinyint(1) NOT NULL DEFAULT '0',
  `date_lu` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_contact`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contacts`
--

LOCK TABLES `contacts` WRITE;
/*!40000 ALTER TABLE `contacts` DISABLE KEYS */;
INSERT INTO `contacts` VALUES (1,'Mukongo','espoirmmuk@gmail.com','Assistance','Bonsoir monsieur Espoir. Nous voulons savoir comment utiliser le logiciel GESCO',1,'2026-09-24 16:15:06','2026-09-24 16:14:46','2026-09-24 16:15:06'),(2,'Espoir MUKONGO KIVUVU','espoirmmuk@gmail.com','Assistance','Bonsoir. Nous voulons savoir comment utiliser GESCO',1,'2026-09-24 16:20:18','2026-09-24 16:19:35','2026-09-24 16:20:18');
/*!40000 ALTER TABLE `contacts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `depenses`
--

DROP TABLE IF EXISTS `depenses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `depenses` (
  `id_depense` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_etablissement` bigint unsigned NOT NULL,
  `id_annee_scolaire` bigint unsigned DEFAULT NULL,
  `date_depense` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `categorie` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `montant` decimal(15,2) NOT NULL,
  `devise` char(3) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'USD',
  `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `id_utilisateur` bigint unsigned DEFAULT NULL,
  PRIMARY KEY (`id_depense`),
  KEY `fk_depense_utilisateur` (`id_utilisateur`),
  KEY `idx_depenses_date` (`date_depense`),
  KEY `idx_depenses_etablissement` (`id_etablissement`),
  KEY `idx_depenses_annee` (`id_annee_scolaire`),
  CONSTRAINT `fk_depense_annee` FOREIGN KEY (`id_annee_scolaire`) REFERENCES `annees_scolaires` (`id_annee_scolaire`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_depense_etablissement` FOREIGN KEY (`id_etablissement`) REFERENCES `etablissements` (`id_etablissement`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_depense_utilisateur` FOREIGN KEY (`id_utilisateur`) REFERENCES `utilisateurs` (`id_utilisateur`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `chk_depense_devise` CHECK ((`devise` in (_utf8mb4'USD',_utf8mb4'CDF'))),
  CONSTRAINT `chk_depense_montant` CHECK ((`montant` > 0))
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `depenses`
--

LOCK TABLES `depenses` WRITE;
/*!40000 ALTER TABLE `depenses` DISABLE KEYS */;
INSERT INTO `depenses` VALUES (1,1,1,'2026-08-15 22:31:00','Transport',45.00,'USD',NULL,1);
/*!40000 ALTER TABLE `depenses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `details_bulletins`
--

DROP TABLE IF EXISTS `details_bulletins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `details_bulletins` (
  `id_detail` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_bulletin` bigint unsigned NOT NULL,
  `id_matiere` bigint unsigned NOT NULL,
  `total` decimal(8,2) DEFAULT NULL,
  `moyenne` decimal(8,2) DEFAULT NULL,
  `coefficient` decimal(5,2) NOT NULL DEFAULT '1.00',
  `points` decimal(10,2) DEFAULT NULL,
  `appreciation` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id_detail`),
  UNIQUE KEY `uq_detail_bulletin_matiere` (`id_bulletin`,`id_matiere`),
  KEY `fk_detail_matiere` (`id_matiere`),
  CONSTRAINT `fk_detail_bulletin` FOREIGN KEY (`id_bulletin`) REFERENCES `bulletins` (`id_bulletin`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_detail_matiere` FOREIGN KEY (`id_matiere`) REFERENCES `matieres` (`id_matiere`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `chk_detail_coefficient` CHECK ((`coefficient` > 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `details_bulletins`
--

LOCK TABLES `details_bulletins` WRITE;
/*!40000 ALTER TABLE `details_bulletins` DISABLE KEYS */;
/*!40000 ALTER TABLE `details_bulletins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `details_paiements`
--

DROP TABLE IF EXISTS `details_paiements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `details_paiements` (
  `id_detail_paiement` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_paiement` bigint unsigned NOT NULL,
  `id_frais_eleve` bigint unsigned NOT NULL,
  `montant` decimal(15,2) NOT NULL,
  PRIMARY KEY (`id_detail_paiement`),
  KEY `idx_details_paiement` (`id_paiement`),
  KEY `idx_details_frais` (`id_frais_eleve`),
  CONSTRAINT `fk_detail_frais` FOREIGN KEY (`id_frais_eleve`) REFERENCES `frais_eleves` (`id_frais_eleve`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_detail_paiement` FOREIGN KEY (`id_paiement`) REFERENCES `paiements` (`id_paiement`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_detail_paiement_montant` CHECK ((`montant` > 0))
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `details_paiements`
--

LOCK TABLES `details_paiements` WRITE;
/*!40000 ALTER TABLE `details_paiements` DISABLE KEYS */;
INSERT INTO `details_paiements` VALUES (1,2,1,50.00),(2,3,2,50.00),(3,4,2,30.00),(4,5,3,50.00),(5,6,4,50.00),(8,9,7,30.00);
/*!40000 ALTER TABLE `details_paiements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `eleves`
--

DROP TABLE IF EXISTS `eleves`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `eleves` (
  `id_eleve` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_etablissement` bigint unsigned DEFAULT NULL,
  `matricule` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `nom` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `postnom` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `prenom` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sexe` enum('M','F') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `date_naissance` date DEFAULT NULL,
  `lieu_naissance` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `adresse` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telephone` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `photo` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `statut` enum('ACTIF','ABANDON','TRANSFERE','DIPLOME','RADIE','INACTIF') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ACTIF',
  `date_creation` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `date_modification` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_eleve`),
  UNIQUE KEY `uq_eleve_matricule` (`matricule`),
  KEY `idx_eleves_nom` (`nom`,`postnom`,`prenom`),
  KEY `idx_eleves_statut` (`statut`),
  KEY `eleves_id_etablissement_index` (`id_etablissement`),
  CONSTRAINT `eleves_id_etablissement_foreign` FOREIGN KEY (`id_etablissement`) REFERENCES `etablissements` (`id_etablissement`) ON DELETE SET NULL,
  CONSTRAINT `chk_eleve_email` CHECK (((`email` is null) or (`email` like _utf8mb4'%@%')))
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `eleves`
--

LOCK TABLES `eleves` WRITE;
/*!40000 ALTER TABLE `eleves` DISABLE KEYS */;
/*!40000 ALTER TABLE `eleves` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `eleves_responsables`
--

DROP TABLE IF EXISTS `eleves_responsables`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `eleves_responsables` (
  `id_eleve` bigint unsigned NOT NULL,
  `id_responsable` bigint unsigned NOT NULL,
  `lien_parente` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `est_principal` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id_eleve`,`id_responsable`),
  KEY `fk_er_responsable` (`id_responsable`),
  CONSTRAINT `fk_er_eleve` FOREIGN KEY (`id_eleve`) REFERENCES `eleves` (`id_eleve`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_er_responsable` FOREIGN KEY (`id_responsable`) REFERENCES `responsables` (`id_responsable`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `eleves_responsables`
--

LOCK TABLES `eleves_responsables` WRITE;
/*!40000 ALTER TABLE `eleves_responsables` DISABLE KEYS */;
/*!40000 ALTER TABLE `eleves_responsables` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `etablissements`
--

DROP TABLE IF EXISTS `etablissements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `etablissements` (
  `id_etablissement` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nom` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `code` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `type` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `province` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ville` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `commune` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `adresse` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telephone` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `directeur` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `logo` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `statut` enum('ACTIF','INACTIF') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ACTIF',
  `date_creation` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `date_modification` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_etablissement`),
  UNIQUE KEY `uq_etablissement_code` (`code`),
  UNIQUE KEY `uq_etablissement_email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `etablissements`
--

LOCK TABLES `etablissements` WRITE;
/*!40000 ALTER TABLE `etablissements` DISABLE KEYS */;
INSERT INTO `etablissements` VALUES (1,'Mon ├®tablissement','ETB001','ECOLE','Kinshasa','Kinshasa','Mont-ngafula','Avenue Mateba n┬░2',NULL,NULL,'Akwenudi',NULL,'ACTIF','2026-08-09 10:45:41','2026-08-13 12:13:26'),(2,'EP NGEMBA DIATA','ETB002','├ëcole primaire','Kinshasa',NULL,NULL,NULL,NULL,NULL,NULL,'logos/0cxSED080wapx0p45Bux6SvmMrHugpFOMAgNOPqf.jpg','ACTIF','2026-08-13 13:25:33','2026-08-27 14:35:23');
/*!40000 ALTER TABLE `etablissements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evaluations`
--

DROP TABLE IF EXISTS `evaluations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `evaluations` (
  `id_evaluation` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_annee_scolaire` bigint unsigned NOT NULL,
  `id_classe` bigint unsigned NOT NULL,
  `id_matiere` bigint unsigned NOT NULL,
  `id_periode` bigint unsigned NOT NULL,
  `libelle` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `type_evaluation` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `note_maximale` decimal(6,2) NOT NULL DEFAULT '20.00',
  `date_evaluation` date DEFAULT NULL,
  PRIMARY KEY (`id_evaluation`),
  KEY `fk_evaluation_annee` (`id_annee_scolaire`),
  KEY `idx_evaluations_classe` (`id_classe`),
  KEY `idx_evaluations_matiere` (`id_matiere`),
  KEY `idx_evaluations_periode` (`id_periode`),
  CONSTRAINT `fk_evaluation_annee` FOREIGN KEY (`id_annee_scolaire`) REFERENCES `annees_scolaires` (`id_annee_scolaire`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_evaluation_classe` FOREIGN KEY (`id_classe`) REFERENCES `classes` (`id_classe`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_evaluation_matiere` FOREIGN KEY (`id_matiere`) REFERENCES `matieres` (`id_matiere`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_evaluation_periode` FOREIGN KEY (`id_periode`) REFERENCES `periodes_scolaires` (`id_periode`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `chk_note_maximale` CHECK ((`note_maximale` > 0))
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evaluations`
--

LOCK TABLES `evaluations` WRITE;
/*!40000 ALTER TABLE `evaluations` DISABLE KEYS */;
INSERT INTO `evaluations` VALUES (1,1,2,1,1,'Contr├┤le de Math├®matique','Contr├┤le',25.00,'2026-08-11'),(2,1,2,1,1,'Examen de math','Examen',20.00,'2026-08-11');
/*!40000 ALTER TABLE `evaluations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `frais_eleves`
--

DROP TABLE IF EXISTS `frais_eleves`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `frais_eleves` (
  `id_frais_eleve` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_eleve` bigint unsigned NOT NULL,
  `id_inscription` bigint unsigned NOT NULL,
  `id_tarif` bigint unsigned NOT NULL,
  `montant` decimal(15,2) NOT NULL,
  `remise` decimal(15,2) NOT NULL DEFAULT '0.00',
  `montant_a_payer` decimal(15,2) NOT NULL,
  `montant_paye` decimal(15,2) NOT NULL DEFAULT '0.00',
  `solde` decimal(15,2) NOT NULL DEFAULT '0.00',
  `statut` enum('NON_PAYE','PARTIEL','SOLDE','ANNULE') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'NON_PAYE',
  PRIMARY KEY (`id_frais_eleve`),
  UNIQUE KEY `uq_frais_eleve` (`id_eleve`,`id_inscription`,`id_tarif`),
  KEY `fk_frais_tarif` (`id_tarif`),
  KEY `idx_frais_eleve` (`id_eleve`),
  KEY `idx_frais_inscription` (`id_inscription`),
  KEY `idx_frais_statut` (`statut`),
  CONSTRAINT `fk_frais_eleve` FOREIGN KEY (`id_eleve`) REFERENCES `eleves` (`id_eleve`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_frais_inscription` FOREIGN KEY (`id_inscription`) REFERENCES `inscriptions` (`id_inscription`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_frais_tarif` FOREIGN KEY (`id_tarif`) REFERENCES `tarifs_scolaires` (`id_tarif`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `chk_frais_a_payer` CHECK ((`montant_a_payer` >= 0)),
  CONSTRAINT `chk_frais_montant` CHECK ((`montant` >= 0)),
  CONSTRAINT `chk_frais_paye` CHECK ((`montant_paye` >= 0)),
  CONSTRAINT `chk_frais_remise` CHECK ((`remise` >= 0)),
  CONSTRAINT `chk_frais_solde` CHECK ((`solde` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `frais_eleves`
--

LOCK TABLES `frais_eleves` WRITE;
/*!40000 ALTER TABLE `frais_eleves` DISABLE KEYS */;
INSERT INTO `frais_eleves` VALUES (1,1,1,1,50.00,0.00,50.00,50.00,0.00,'SOLDE'),(2,5,4,1,50.00,0.00,50.00,50.00,0.00,'SOLDE'),(3,6,5,1,50.00,0.00,50.00,50.00,0.00,'SOLDE'),(4,8,7,1,50.00,0.00,50.00,50.00,0.00,'SOLDE'),(5,7,8,1,50.00,0.00,50.00,50.00,0.00,'SOLDE'),(6,13,9,4,500.00,0.00,500.00,500.00,0.00,'SOLDE'),(7,15,10,1,50.00,0.00,50.00,30.00,20.00,'PARTIEL'),(8,15,10,5,100.00,0.00,100.00,0.00,100.00,'NON_PAYE'),(9,16,11,1,50.00,0.00,50.00,0.00,50.00,'NON_PAYE'),(10,16,11,5,100.00,0.00,100.00,0.00,100.00,'NON_PAYE');
/*!40000 ALTER TABLE `frais_eleves` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `infrastructures`
--

DROP TABLE IF EXISTS `infrastructures`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `infrastructures` (
  `id_infrastructure` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_etablissement` bigint unsigned NOT NULL,
  `designation` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `type` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `quantite` int unsigned NOT NULL DEFAULT '1',
  `etat` enum('BON','MOYEN','A_REHABILITER','HORS_SERVICE') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'BON',
  `localisation` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `observation` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id_infrastructure`),
  KEY `idx_infrastructures_etablissement` (`id_etablissement`),
  CONSTRAINT `fk_infrastructure_etablissement` FOREIGN KEY (`id_etablissement`) REFERENCES `etablissements` (`id_etablissement`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_infrastructure_quantite` CHECK ((`quantite` > 0))
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `infrastructures`
--

LOCK TABLES `infrastructures` WRITE;
/*!40000 ALTER TABLE `infrastructures` DISABLE KEYS */;
INSERT INTO `infrastructures` VALUES (1,1,'B├ótiment','Salle',1,'BON',NULL,NULL);
/*!40000 ALTER TABLE `infrastructures` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inscriptions`
--

DROP TABLE IF EXISTS `inscriptions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inscriptions` (
  `id_inscription` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_eleve` bigint unsigned NOT NULL,
  `id_annee_scolaire` bigint unsigned NOT NULL,
  `id_classe` bigint unsigned NOT NULL,
  `date_inscription` date NOT NULL,
  `statut` enum('INSCRIT','ABANDON','TRANSFERE','RADIE','DIPLOME') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'INSCRIT',
  `observation` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id_inscription`),
  UNIQUE KEY `uq_inscription_eleve_annee` (`id_eleve`,`id_annee_scolaire`),
  KEY `idx_inscriptions_eleve` (`id_eleve`),
  KEY `idx_inscriptions_classe` (`id_classe`),
  KEY `idx_inscriptions_annee` (`id_annee_scolaire`),
  KEY `idx_inscriptions_statut` (`statut`),
  CONSTRAINT `fk_inscription_annee` FOREIGN KEY (`id_annee_scolaire`) REFERENCES `annees_scolaires` (`id_annee_scolaire`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_inscription_classe` FOREIGN KEY (`id_classe`) REFERENCES `classes` (`id_classe`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_inscription_eleve` FOREIGN KEY (`id_eleve`) REFERENCES `eleves` (`id_eleve`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inscriptions`
--

LOCK TABLES `inscriptions` WRITE;
/*!40000 ALTER TABLE `inscriptions` DISABLE KEYS */;
INSERT INTO `inscriptions` VALUES (1,1,1,2,'2026-08-09','INSCRIT',NULL),(4,5,1,2,'2026-08-09','INSCRIT',NULL),(5,6,1,2,'2026-08-10','INSCRIT',NULL),(7,8,1,2,'2026-08-10','INSCRIT',NULL),(8,7,1,2,'2026-08-11','INSCRIT',NULL),(9,13,1,4,'2026-08-16','INSCRIT',NULL),(10,15,1,2,'2026-09-07','INSCRIT',NULL),(11,16,1,2,'2026-09-10','INSCRIT',NULL);
/*!40000 ALTER TABLE `inscriptions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventaire`
--

DROP TABLE IF EXISTS `inventaire`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventaire` (
  `id_inventaire` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_etablissement` bigint unsigned NOT NULL,
  `id_categorie` bigint unsigned NOT NULL,
  `designation` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `quantite` int unsigned NOT NULL DEFAULT '1',
  `date_acquisition` date DEFAULT NULL,
  `etat` enum('NEUF','BON','MOYEN','MAUVAIS','HORS_SERVICE') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'BON',
  `localisation` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `responsable` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `observation` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id_inventaire`),
  KEY `idx_inventaire_etablissement` (`id_etablissement`),
  KEY `idx_inventaire_categorie` (`id_categorie`),
  CONSTRAINT `fk_inventaire_categorie` FOREIGN KEY (`id_categorie`) REFERENCES `categories_inventaire` (`id_categorie`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_inventaire_etablissement` FOREIGN KEY (`id_etablissement`) REFERENCES `etablissements` (`id_etablissement`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_inventaire_quantite` CHECK ((`quantite` > 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventaire`
--

LOCK TABLES `inventaire` WRITE;
/*!40000 ALTER TABLE `inventaire` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventaire` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `attempts` smallint unsigned NOT NULL,
  `reserved_at` int unsigned DEFAULT NULL,
  `available_at` int unsigned NOT NULL,
  `created_at` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`(191))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `journaux_activites`
--

DROP TABLE IF EXISTS `journaux_activites`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `journaux_activites` (
  `id_journal` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_utilisateur` bigint unsigned DEFAULT NULL,
  `action` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `table_concernee` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `id_enregistrement` bigint unsigned DEFAULT NULL,
  `anciennes_valeurs` json DEFAULT NULL,
  `nouvelles_valeurs` json DEFAULT NULL,
  `adresse_ip` varchar(45) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `navigateur` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `date_heure` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_journal`),
  KEY `idx_journal_utilisateur` (`id_utilisateur`),
  KEY `idx_journal_date` (`date_heure`),
  KEY `idx_journal_table` (`table_concernee`),
  CONSTRAINT `fk_journal_utilisateur` FOREIGN KEY (`id_utilisateur`) REFERENCES `utilisateurs` (`id_utilisateur`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=90 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `journaux_activites`
--

LOCK TABLES `journaux_activites` WRITE;
/*!40000 ALTER TABLE `journaux_activites` DISABLE KEYS */;
/*!40000 ALTER TABLE `journaux_activites` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `matieres`
--

DROP TABLE IF EXISTS `matieres`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `matieres` (
  `id_matiere` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_etablissement` bigint unsigned DEFAULT NULL,
  `code` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `libelle` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `coefficient` decimal(5,2) NOT NULL DEFAULT '1.00',
  `statut` enum('ACTIVE','INACTIVE') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ACTIVE',
  PRIMARY KEY (`id_matiere`),
  UNIQUE KEY `uq_matiere_code` (`code`),
  UNIQUE KEY `uq_matiere_libelle` (`libelle`),
  KEY `matieres_id_etablissement_foreign` (`id_etablissement`),
  CONSTRAINT `matieres_id_etablissement_foreign` FOREIGN KEY (`id_etablissement`) REFERENCES `etablissements` (`id_etablissement`) ON DELETE RESTRICT,
  CONSTRAINT `chk_matiere_coefficient` CHECK ((`coefficient` > 0))
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `matieres`
--

LOCK TABLES `matieres` WRITE;
/*!40000 ALTER TABLE `matieres` DISABLE KEYS */;
INSERT INTO `matieres` VALUES (1,1,'MATH','Math├®matiques',4.00,'ACTIVE');
/*!40000 ALTER TABLE `matieres` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `batch` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `niveaux`
--

DROP TABLE IF EXISTS `niveaux`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `niveaux` (
  `id_niveau` bigint unsigned NOT NULL AUTO_INCREMENT,
  `libelle` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `ordre` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id_niveau`),
  UNIQUE KEY `uq_niveau_libelle` (`libelle`),
  CONSTRAINT `chk_niveau_ordre` CHECK ((`ordre` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `niveaux`
--

LOCK TABLES `niveaux` WRITE;
/*!40000 ALTER TABLE `niveaux` DISABLE KEYS */;
INSERT INTO `niveaux` VALUES (1,'Maternelle',1),(2,'Primaire',2),(3,'Secondaire',3);
/*!40000 ALTER TABLE `niveaux` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notes`
--

DROP TABLE IF EXISTS `notes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notes` (
  `id_note` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_evaluation` bigint unsigned NOT NULL,
  `id_eleve` bigint unsigned NOT NULL,
  `note` decimal(6,2) NOT NULL,
  `appreciation` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id_note`),
  UNIQUE KEY `uq_note_evaluation_eleve` (`id_evaluation`,`id_eleve`),
  KEY `idx_notes_eleve` (`id_eleve`),
  KEY `idx_notes_evaluation` (`id_evaluation`),
  CONSTRAINT `fk_note_eleve` FOREIGN KEY (`id_eleve`) REFERENCES `eleves` (`id_eleve`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_note_evaluation` FOREIGN KEY (`id_evaluation`) REFERENCES `evaluations` (`id_evaluation`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_note_positive` CHECK ((`note` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notes`
--

LOCK TABLES `notes` WRITE;
/*!40000 ALTER TABLE `notes` DISABLE KEYS */;
INSERT INTO `notes` VALUES (1,1,1,15.00,NULL),(2,1,5,6.00,NULL),(3,1,6,10.00,NULL),(4,1,8,18.00,NULL),(5,1,7,11.99,NULL),(6,2,1,15.00,NULL),(7,2,5,10.00,NULL),(8,2,6,20.00,NULL),(9,2,8,13.00,NULL),(10,2,7,15.00,NULL);
/*!40000 ALTER TABLE `notes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `paiements`
--

DROP TABLE IF EXISTS `paiements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `paiements` (
  `id_paiement` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_eleve` bigint unsigned NOT NULL,
  `numero_recu` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `date_paiement` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `montant_total` decimal(15,2) NOT NULL,
  `devise` char(3) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'USD',
  `mode_paiement` enum('ESPECES','BANQUE','MOBILE_MONEY','CHEQUE','AUTRE') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ESPECES',
  `reference` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `id_utilisateur` bigint unsigned DEFAULT NULL,
  `observation` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id_paiement`),
  UNIQUE KEY `uq_numero_recu` (`numero_recu`),
  KEY `idx_paiements_eleve` (`id_eleve`),
  KEY `idx_paiements_date` (`date_paiement`),
  KEY `idx_paiements_utilisateur` (`id_utilisateur`),
  CONSTRAINT `fk_paiement_eleve` FOREIGN KEY (`id_eleve`) REFERENCES `eleves` (`id_eleve`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_paiement_utilisateur` FOREIGN KEY (`id_utilisateur`) REFERENCES `utilisateurs` (`id_utilisateur`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `chk_paiement_devise` CHECK ((`devise` in (_utf8mb4'USD',_utf8mb4'CDF'))),
  CONSTRAINT `chk_paiement_montant` CHECK ((`montant_total` > 0))
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `paiements`
--

LOCK TABLES `paiements` WRITE;
/*!40000 ALTER TABLE `paiements` DISABLE KEYS */;
INSERT INTO `paiements` VALUES (1,1,'REC-001','2026-08-09 20:59:00',500.00,'USD','ESPECES',NULL,1,NULL),(2,1,'0111','2026-08-09 23:31:00',50.00,'USD','ESPECES',NULL,1,NULL),(3,5,'0012','2026-08-09 23:38:00',50.00,'USD','ESPECES',NULL,1,NULL),(4,5,'0003','2026-08-10 00:37:00',30.00,'USD','ESPECES',NULL,1,NULL),(5,6,'0016','2026-08-10 00:49:00',50.00,'USD','ESPECES',NULL,1,NULL),(6,8,'0004','2026-08-10 00:54:00',50.00,'USD','ESPECES',NULL,1,NULL),(9,15,'REC0023','2026-09-07 10:02:00',30.00,'USD','ESPECES',NULL,2,NULL);
/*!40000 ALTER TABLE `paiements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `periodes_scolaires`
--

DROP TABLE IF EXISTS `periodes_scolaires`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `periodes_scolaires` (
  `id_periode` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_annee_scolaire` bigint unsigned NOT NULL,
  `libelle` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `date_debut` date NOT NULL,
  `date_fin` date NOT NULL,
  PRIMARY KEY (`id_periode`),
  UNIQUE KEY `uq_periode_annee` (`id_annee_scolaire`,`libelle`),
  KEY `idx_periode_annee` (`id_annee_scolaire`),
  CONSTRAINT `fk_periode_annee` FOREIGN KEY (`id_annee_scolaire`) REFERENCES `annees_scolaires` (`id_annee_scolaire`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_periode_dates` CHECK ((`date_fin` > `date_debut`))
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `periodes_scolaires`
--

LOCK TABLES `periodes_scolaires` WRITE;
/*!40000 ALTER TABLE `periodes_scolaires` DISABLE KEYS */;
INSERT INTO `periodes_scolaires` VALUES (1,1,'1er trimestre','2026-09-01','2026-11-11');
/*!40000 ALTER TABLE `periodes_scolaires` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permissions`
--

DROP TABLE IF EXISTS `permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `permissions` (
  `id_permission` bigint unsigned NOT NULL AUTO_INCREMENT,
  `module` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `action` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nom` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id_permission`),
  UNIQUE KEY `uq_permission_nom` (`nom`),
  KEY `permissions_module_action_index` (`module`,`action`)
) ENGINE=InnoDB AUTO_INCREMENT=135 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permissions`
--

LOCK TABLES `permissions` WRITE;
/*!40000 ALTER TABLE `permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personnel`
--

DROP TABLE IF EXISTS `personnel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personnel` (
  `id_personnel` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_etablissement` bigint unsigned NOT NULL,
  `matricule` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `nom` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `postnom` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `prenom` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sexe` enum('M','F') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `fonction` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `qualification` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telephone` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `adresse` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `date_engagement` date DEFAULT NULL,
  `statut` enum('ACTIF','INACTIF','SUSPENDU') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ACTIF',
  `photo` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `date_creation` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_personnel`),
  UNIQUE KEY `uq_personnel_matricule` (`id_etablissement`,`matricule`),
  KEY `idx_personnel_nom` (`nom`,`postnom`,`prenom`),
  KEY `idx_personnel_fonction` (`fonction`),
  CONSTRAINT `fk_personnel_etablissement` FOREIGN KEY (`id_etablissement`) REFERENCES `etablissements` (`id_etablissement`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personnel`
--

LOCK TABLES `personnel` WRITE;
/*!40000 ALTER TABLE `personnel` DISABLE KEYS */;
INSERT INTO `personnel` VALUES (1,1,'ENS-001','KATANGA','MBASI','Joseph','M','Enseignant','Gradu├®',NULL,NULL,NULL,'2026-08-05','ACTIF',NULL,'2026-08-09 16:36:53');
/*!40000 ALTER TABLE `personnel` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `presences`
--

DROP TABLE IF EXISTS `presences`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `presences` (
  `id_presence` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_eleve` bigint unsigned NOT NULL,
  `id_classe` bigint unsigned NOT NULL,
  `date_presence` date NOT NULL,
  `statut` enum('PRESENT','ABSENT','JUSTIFIE','RETARD') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `motif` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `observation` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id_presence`),
  UNIQUE KEY `uq_presence_eleve_date` (`id_eleve`,`date_presence`),
  KEY `idx_presence_date` (`date_presence`),
  KEY `idx_presence_classe` (`id_classe`),
  CONSTRAINT `fk_presence_classe` FOREIGN KEY (`id_classe`) REFERENCES `classes` (`id_classe`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_presence_eleve` FOREIGN KEY (`id_eleve`) REFERENCES `eleves` (`id_eleve`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `presences`
--

LOCK TABLES `presences` WRITE;
/*!40000 ALTER TABLE `presences` DISABLE KEYS */;
INSERT INTO `presences` VALUES (1,8,2,'2026-08-15','PRESENT',NULL,NULL),(2,1,2,'2026-08-15','PRESENT',NULL,NULL),(3,7,2,'2026-08-15','PRESENT',NULL,NULL),(4,5,2,'2026-08-15','PRESENT',NULL,NULL),(5,6,2,'2026-08-15','PRESENT',NULL,NULL),(6,13,4,'2026-08-18','PRESENT',NULL,NULL),(7,8,2,'2026-09-03','PRESENT',NULL,NULL),(8,1,2,'2026-09-03','PRESENT',NULL,NULL),(9,7,2,'2026-09-03','PRESENT',NULL,NULL),(10,5,2,'2026-09-03','PRESENT',NULL,NULL),(11,6,2,'2026-09-03','PRESENT',NULL,NULL);
/*!40000 ALTER TABLE `presences` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recettes`
--

DROP TABLE IF EXISTS `recettes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recettes` (
  `id_recette` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_paiement` bigint unsigned DEFAULT NULL,
  `id_etablissement` bigint unsigned NOT NULL,
  `id_annee_scolaire` bigint unsigned DEFAULT NULL,
  `date_recette` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `source` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `montant` decimal(15,2) NOT NULL,
  `devise` char(3) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'USD',
  `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `id_utilisateur` bigint unsigned DEFAULT NULL,
  PRIMARY KEY (`id_recette`),
  UNIQUE KEY `recettes_id_paiement_unique` (`id_paiement`),
  KEY `fk_recette_utilisateur` (`id_utilisateur`),
  KEY `idx_recettes_date` (`date_recette`),
  KEY `idx_recettes_etablissement` (`id_etablissement`),
  KEY `idx_recettes_annee` (`id_annee_scolaire`),
  CONSTRAINT `fk_recette_annee` FOREIGN KEY (`id_annee_scolaire`) REFERENCES `annees_scolaires` (`id_annee_scolaire`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_recette_etablissement` FOREIGN KEY (`id_etablissement`) REFERENCES `etablissements` (`id_etablissement`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_recette_utilisateur` FOREIGN KEY (`id_utilisateur`) REFERENCES `utilisateurs` (`id_utilisateur`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `chk_recette_devise` CHECK ((`devise` in (_utf8mb4'USD',_utf8mb4'CDF'))),
  CONSTRAINT `chk_recette_montant` CHECK ((`montant` > 0))
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recettes`
--

LOCK TABLES `recettes` WRITE;
/*!40000 ALTER TABLE `recettes` DISABLE KEYS */;
INSERT INTO `recettes` VALUES (2,NULL,1,1,'2026-08-15 00:00:00','Location chaises',50.00,'USD',NULL,1),(3,8,1,1,'2026-08-16 00:52:00','Paiement ├®l├¿ve - Re├ºu 0258',500.00,'USD','Paiement de lÔÇÖ├®l├¿ve R R R',1),(4,9,1,1,'2026-09-07 10:02:00','Paiement ├®l├¿ve - Re├ºu REC0023',30.00,'USD','Paiement de lÔÇÖ├®l├¿ve Mukongo Kiese Schiphra',2);
/*!40000 ALTER TABLE `recettes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `responsables`
--

DROP TABLE IF EXISTS `responsables`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `responsables` (
  `id_responsable` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `postnom` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `prenom` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telephone` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `adresse` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `profession` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `date_creation` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_responsable`),
  KEY `idx_responsables_nom` (`nom`,`postnom`,`prenom`),
  CONSTRAINT `chk_responsable_email` CHECK (((`email` is null) or (`email` like _utf8mb4'%@%')))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `responsables`
--

LOCK TABLES `responsables` WRITE;
/*!40000 ALTER TABLE `responsables` DISABLE KEYS */;
/*!40000 ALTER TABLE `responsables` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id_role` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id_role`),
  UNIQUE KEY `uq_role_nom` (`nom`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'Administrateur','Gestion compl├¿te de la plateforme'),(2,'Directeur','Gestion g├®n├®rale de lÔÇÖ├®tablissement'),(3,'Prefet','Gestion p├®dagogique'),(4,'Secretaire','Gestion administrative des ├®l├¿ves'),(5,'Comptable','Gestion financi├¿re'),(6,'Enseignant','Gestion des notes et pr├®sences'),(7,'Inspecteur','Consultation et contr├┤le des donn├®es');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles_permissions`
--

DROP TABLE IF EXISTS `roles_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles_permissions` (
  `id_role` bigint unsigned NOT NULL,
  `id_permission` bigint unsigned NOT NULL,
  PRIMARY KEY (`id_role`,`id_permission`),
  KEY `fk_rp_permission` (`id_permission`),
  CONSTRAINT `fk_rp_permission` FOREIGN KEY (`id_permission`) REFERENCES `permissions` (`id_permission`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_rp_role` FOREIGN KEY (`id_role`) REFERENCES `roles` (`id_role`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles_permissions`
--

LOCK TABLES `roles_permissions` WRITE;
/*!40000 ALTER TABLE `roles_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `roles_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tarifs_scolaires`
--

DROP TABLE IF EXISTS `tarifs_scolaires`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tarifs_scolaires` (
  `id_tarif` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_annee_scolaire` bigint unsigned NOT NULL,
  `id_classe` bigint unsigned NOT NULL,
  `id_categorie_frais` bigint unsigned NOT NULL,
  `montant` decimal(15,2) NOT NULL,
  `devise` char(3) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'USD',
  PRIMARY KEY (`id_tarif`),
  UNIQUE KEY `uq_tarif` (`id_annee_scolaire`,`id_classe`,`id_categorie_frais`),
  KEY `fk_tarif_categorie` (`id_categorie_frais`),
  KEY `idx_tarifs_classe` (`id_classe`),
  KEY `idx_tarifs_annee` (`id_annee_scolaire`),
  CONSTRAINT `fk_tarif_annee` FOREIGN KEY (`id_annee_scolaire`) REFERENCES `annees_scolaires` (`id_annee_scolaire`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_tarif_categorie` FOREIGN KEY (`id_categorie_frais`) REFERENCES `categories_frais` (`id_categorie_frais`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_tarif_classe` FOREIGN KEY (`id_classe`) REFERENCES `classes` (`id_classe`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `chk_tarif_devise` CHECK ((`devise` in (_utf8mb4'USD',_utf8mb4'CDF'))),
  CONSTRAINT `chk_tarif_montant` CHECK ((`montant` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tarifs_scolaires`
--

LOCK TABLES `tarifs_scolaires` WRITE;
/*!40000 ALTER TABLE `tarifs_scolaires` DISABLE KEYS */;
INSERT INTO `tarifs_scolaires` VALUES (1,1,2,1,50.00,'USD'),(4,1,4,2,500.00,'USD'),(5,1,2,6,100.00,'USD');
/*!40000 ALTER TABLE `tarifs_scolaires` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_etablissement` bigint unsigned DEFAULT NULL,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `remember_token` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `users_id_etablissement_foreign` (`id_etablissement`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utilisateurs`
--

DROP TABLE IF EXISTS `utilisateurs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `utilisateurs` (
  `id_utilisateur` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_etablissement` bigint unsigned DEFAULT NULL,
  `nom` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `mot_de_passe` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `statut` enum('ACTIF','INACTIF','BLOQUE') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ACTIF',
  `derniere_connexion` datetime DEFAULT NULL,
  `date_creation` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_utilisateur`),
  UNIQUE KEY `uq_utilisateur_email` (`email`),
  KEY `idx_utilisateurs_etablissement` (`id_etablissement`),
  CONSTRAINT `fk_utilisateur_etablissement` FOREIGN KEY (`id_etablissement`) REFERENCES `etablissements` (`id_etablissement`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilisateurs`
--

LOCK TABLES `utilisateurs` WRITE;
/*!40000 ALTER TABLE `utilisateurs` DISABLE KEYS */;
INSERT INTO `utilisateurs` VALUES (1,NULL,'Administrateur','admin@gestion-scolaire.local','$2y$12$VEAMNW9H/cyc.jScwRbIzuqwjynQqy3TA/./cQy5qIqeJMqRSV/rG','ACTIF',NULL,'2026-08-08 18:01:53'),(2,1,'Espoir MUKONGO KIVUVU','informatique@gmail.com','$2y$12$RSdLiJQNnktfwZrC4PpoIuqrx1cMfJ3NxU8ubWJrLm8X94/xZvl1i','ACTIF',NULL,'2026-08-13 10:20:51');
/*!40000 ALTER TABLE `utilisateurs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utilisateurs_roles`
--

DROP TABLE IF EXISTS `utilisateurs_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `utilisateurs_roles` (
  `id_utilisateur` bigint unsigned NOT NULL,
  `id_role` bigint unsigned NOT NULL,
  PRIMARY KEY (`id_utilisateur`,`id_role`),
  KEY `fk_ur_role` (`id_role`),
  CONSTRAINT `fk_ur_role` FOREIGN KEY (`id_role`) REFERENCES `roles` (`id_role`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_ur_utilisateur` FOREIGN KEY (`id_utilisateur`) REFERENCES `utilisateurs` (`id_utilisateur`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilisateurs_roles`
--

LOCK TABLES `utilisateurs_roles` WRITE;
/*!40000 ALTER TABLE `utilisateurs_roles` DISABLE KEYS */;
INSERT INTO `utilisateurs_roles` VALUES (1,1),(2,1);
/*!40000 ALTER TABLE `utilisateurs_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'defaultdb'
--
SET @@SESSION.SQL_LOG_BIN = @MYSQLDUMP_TEMP_LOG_BIN;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-03 14:05:13
